---
import { Image } from "astro:assets";

import artista from "@/assets/product/artista.jpg";
import bebe from "@/assets/product/bebe.jpg";
import boda from "@/assets/product/boda.jpeg";
import corporativo from "@/assets/product/corporativo.webp";
import cumpleanos from "@/assets/product/cumpleanos.png";
import embarazada from "@/assets/product/embarazada.jpg";
import graduacion from "@/assets/product/graduacion.jpg";
import promocion from "@/assets/product/promocion.jpg";
import quinceanera from "@/assets/product/quinceanera.jpg";
---

<section class="flex flex-col items-center justify-center w-full h-screen">
  <h1 class="h2 font-birthstone">PRODUCTOS</h1>
  <div class="grid h-full grid-cols-5 grid-rows-3 gap-4 px-10">
    <div class="col-start-1 row-span-2">
      <Image
        src={boda}
        quality={80}
        widths={[500, 800, 1200]}
        height={500}
        loading="lazy"
        alt="boda"
        class="object-cover w-full h-full"
      />
    </div>
    <div class="col-start-2">
      <Image
        src={cumpleanos}
        quality={80}
        width={500}
        height={500}
        loading="lazy"
        alt="cumpleanos"
        class="object-cover w-full h-full"
      />
    </div>
    <div class="col-start-2">
      <Image
        src={corporativo}
        quality={80}
        width={500}
        height={500}
        loading="lazy"
        alt="corporativo"
        class="object-cover w-full h-full"
      />
    </div>
    <div class="col-span-2 col-start-1">
      <Image
        src={artista}
        quality={80}
        width={500}
        height={500}
        loading="lazy"
        alt="artista"
        class="object-cover w-full h-full"
      />
    </div>
    <div class="col-start-3 row-span-3 row-start-1">
      <Image
        src={embarazada}
        quality={80}
        width={500}
        height={500}
        width={500}
        height={500}
        loading="lazy"
        alt="embarazada"
        class="object-cover w-full h-full"
      />
    </div>
    <div class="col-start-4 row-span-2 row-start-1">
      <Image
        src={quinceanera}
        quality={80}
        width={500}
        height={500}
        loading="lazy"
        alt="quinceanera"
        class="object-cover object-top w-full h-full"
      />
    </div>
    <div class="col-start-5 row-start-1">
      <Image
        src={bebe}
        quality={80}
        width={500}
        height={500}
        loading="lazy"
        alt="bebe"
        class="object-cover w-full h-full"
      />
    </div>
    <div class="col-start-4">
      <Image
        src={promocion}
        quality={80}
        width={500}
        height={500}
        loading="lazy"
        alt="promocion"
        class="object-cover w-full h-full"
      />
    </div>
    <div class="col-start-5 row-span-2 row-start-2">
      <Image
        src={graduacion}
        quality={80}
        width={500}
        height={500}
        loading="lazy"
        alt="graduacion"
        class="object-cover w-full h-full"
      />
    </div>
  </div>
</section>

<style>
  .grid {
    & div {
      overflow: hidden;
      width: 100%;
      height: 100%;
      background: orange;
    }
  }
</style>

<script>
  import { gsap } from "gsap";

  import { ScrollTrigger } from "gsap/ScrollTrigger";

  const setInitialStates = () => {
    gsap.set(".grid div", {
      opacity: 0,
    });

    return "";
  };

  const animateGrid = () => {
    const tl = gsap.timeline({
      defaults: {
        ease: "power3.inOut",
        duration: 2,
      },
    });

    tl.to(".grid div", {
      opacity: 1,
      y: -100,
      x: 0,
      stagger: 0.15,
    });

    return tl;
  };
</script>
